/* ---------------------- Variables -------------------- */
:root {
    /* Colors */
    --Lbg: #333333;
    --Lheadbg: white;
    --Lhead: #333333;
    --Ltxt: white;

    --Rbg: white;
    --Rheadbg: #333333;
    --Rhead: white;
    --Rtxt: black;

    --temp: #333333;
    --bord: #333333;

    /* Font Style */
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;

    --font-name1: 0.6cm;
    --font-name2: 0.7cm;
    --font-label: 0.5cm;
    --font-contact: 0.375cm;

    --font-head: 0.45cm;
    --font-list: 0.425cm;
    --font-title: 0.4cm;
    --font-org: 0.4cm;
    --font-date: 0.375cm;
    --font-high: 0.365cm;
    --font-key: 0.2cm;

    --font-space: 0.45cm;
    --font-mark: 0.4cm;
	
    --font-pub: 0.365cm;
    --font-let: 0.425cm;
	
	--pad-m: 0.5cm;
    --pad-i: 0.25cm;


    /* Picture Spacing */;
    --picR: 5%;
}

/* ---------------------- Layout -------------------- */
body {
    margin: 0 auto;
    padding:0 auto;
    background: white;
    justify-content: center;
    font-weight: var(--font-weight);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding:0 auto;
}
page {
    background: white;
    display: block;
    page-break-after: always;
}
@page {
    size: 21cm 29.7cm;
    margin: 0 auto;
    border: none;
    border-collapse: collapse;
}

/* Header */
.header {
    width: 100%;
    height: 4.5cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.1cm solid var(--bord);
}

/* Content */
.content {
    width: 100%;
    height: 25cm;
    display: flex;
    flex-direction: row;
}

/* CV */
.cv {
    width: 100%;
    height: 25.05cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	border-bottom: 0.1cm solid var(--bord);
	
}

/* CL */
.cl {
    width: 100%;
    height: 24.95cm;
    display: flex;
    flex-direction: column;
	border: 0.1cm solid var(--bord);
}

/* Panel */
.leftside {
    width: 34%;
    height: 100%;
	display: flex;
    flex-direction: column;
    background-color: var(--Lbg);
	padding-left: var(--pad-m);
	padding-right: var(--pad-m);
}
.rightside {
    width: 66%;
    height: 100%;
	display: flex;
    flex-direction: column;
    background-color: var(--Rbg);
	border-right: 0.1cm solid var(--bord);
	padding-left: var(--pad-m);
	padding-right: var(--pad-m);
}


/* Headings */
.head {
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    font-size: var(--font-head);
	margin-top: 0.4cm;
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
}

.title {
    letter-spacing: 0.0225cm;
    font-size: var(--font-title);
	margin-bottom: 0.05cm;
}
.org {
    font-size: var(--font-org);
	margin-bottom: 0.05cm;
}
.date {
    font-size: var(--font-date);
}
.highlights {
    font-size: var(--font-high);
    text-align: justify;
    hyphens: auto;
}
a {
    text-decoration: none;
}

/* ------------- Content ---------------- */

/* Picture */
.profilePic {
	display: block;
	height: 4cm;
	width: auto;
	margin: auto;
	margin-top:0.25cm;
	margin-bottom:0.25cm;
	border-radius: var(--picR);
}

/* Bio */
.bio{
	height: 3.5cm;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	margin-top: 0.5cm;
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
}
.basics{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: column;
}

.first{
    font-weight: normal;
	text-transform: uppercase;
    letter-spacing: 0.15cm;
	font-size: var(--font-name1);
    color: var(--Rtxt);
}
.last {
    font-weight: bold;
    letter-spacing: 0.25cm;
    text-transform: uppercase;
	font-size: var(--font-name2);
    color: var(--Rtxt);
	margin-top: 0.2cm;
}
.label {
    font-weight: normal;
    letter-spacing: 0.05cm;
    font-size: var(--font-label);
    color: var(--temp);
	margin-top: 0.3cm;
}
/* Keywords */
.Key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	font-size: var(--font-key);
    color: var(--Ltxt);
}
.Key .item {
	margin-top: 0cm;
	margin-bottom:0cm;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 0.3cm;
}
.contact .item {
    color: var(--Rtxt);
    font-size: var(--font-contact);
}
.contact i{
    color: var(--temp);
}

/* Education */
.Edu {
    width: 100%;
    align-self: center;
    margin-bottom: 0.5cm;
}
.Edu .item{
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
	margin-top: 0.25cm;
	margin-top: 0.25cm;
}

/* Work */
.Wor {
    width: 100%;
    align-self: center;
    margin-bottom: 0.5cm;
}
.Wor .item{
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
	margin-top: 0.25cm;
	margin-top: 0.25cm;
}
.Wor .lvl-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.Wor .highlights>ul {
    list-style-type: disc;
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-left: 0.75cm;
}
.Wor .highlights>ul>li {
    padding-left: 0cm;
    line-height: var(--font-space);
}
.Wor.highlights>ul>li::marker {
    color: var(--Rtxt);
    font-size: var(--font-mark);
}

/* Expertise */
.Exp {
    width: 100%;
    align-self: center;
    margin-bottom: 0.5cm;
}
.Exp .item{
    color: var(--Ltxt);
    font-size: var(--font-list);
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
	margin-top: 0.25cm;
	margin-top: 0.25cm;
}

/* Skills */
.Ski {
    width: 100%;
    align-self: center;
    margin-bottom: 0.5cm;
}
.Ski .item{
    color: var(--Ltxt);
    font-size: var(--font-list);
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
	margin-top: 0.25cm;
	margin-top: 0.25cm;
}
.Ski ul {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	margin-top: 0.1cm;
	margin-bottom: 0.1cm;
    padding: 0cm;
}
.Ski ul li {
    background-color: var(--Lheadbg);
    color: var(--Lhead);
	padding: 0.05cm;
	font-size: var(--font-org);
}
.Ski ul>li::marker {
    font-size: 0;
}

/* Languages */
.Lan {
    width: 100%;
    align-self: center;
    margin-bottom: 0.5cm;
}
.Lan .item{
    display: flex;
    flex-direction: row;
    color: var(--Ltxt);
    font-size: var(--font-list);
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
	margin-top: 0.25cm;
	margin-top: 0.25cm;
}
.Lan .language{
    padding-right: 0.2cm;
}

/* Publication */
.Pub {
    width: 100%;
    align-self: center;
    margin-bottom: 0.5cm;
}
.Pub .item{
    color: var(--Rtxt);
    font-size: var(--font-pub);
    text-align: justify;
    hyphens: auto;
	padding-left: var(--pad-i);
	padding-right: var(--pad-i);
	margin-top: 0.4cm;
	margin-top: 0.4cm;
}

/* Socials */
.Social {
	width: 100%;
	display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
	margin-top: auto;
	margin-bottom: 0.2cm;
}

/* ---------------------- Letter --------------------- */
/* Company */
.company {
	height: 3.5cm;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	margin-top: 0.5cm;
	letter-spacing: 0.05cm;
    color: var(--Ltxt);
	padding-left: 0.6cm;
}

/* Subject */
.subject{
	margin-top: 0.75cm;
    letter-spacing: 0.05cm;
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--Rtxt);
	padding-left:1cm;
	padding-right:0.75cm;
}

/* Letter Content */
.let-cont {
    margin-top: 0.5cm;
    text-align: justify;
    hyphens: auto;
	padding-left:1cm;
	padding-right:0.75cm;
}

.let-cont p{
    margin-top: 0.225cm;
    margin-bottom: 0.225cm;
    font-size: var(--font-let);
    line-height: var(--font-space);
    color: var(--Rtxt);
}
.let-cont b {
    color: var(--Rtxt);
	font-weight: var(--font-weight);
}
.let-cont i {
    color: var(--Rtxt);
	font-weight: var(--font-weight);
}
.close {
    margin-top: 0.3cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	padding-left:1cm;
	padding-right:0.75cm;
}

.close .NameCityDate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: var(--font-head);
}

.SignPic {
    width: 7.5cm;
}

/* ---------------------- Colors --------------------- */
/* Left */
.leftside .head {
    background-color: var(--Lheadbg);
    color: var(--Lhead);
}
.leftside .lvl-0 {
    color: var(--Ltxt);
}
.leftside .title {
    color: var(--Ltxt);
}
.leftside .org {
    color: var(--Ltxt);
}
.leftside .date {
    color: var(--Ltxt);
}
.leftside .highlights {
    color: var(--Ltxt);
}
.leftside a{
    color: var(--Ltxt);
}
/* Right */
.rightside .head {
    background-color: var(--Rheadbg);
    color: var(--Rhead);
}
.rightside .lvl-0 {
    color: var(--Rtxt);
}
.rightside .title {
    color: var(--Rtxt);
    font-weight: bold;
}
.rightside .org {
    color: var(--temp);
}
.rightside .date {
    color: var(--Rtxt);
}
.rightside .highlights {
    color: var(--Rtxt);
}
.rightside a{
    color: var(--Rtxt);
    font-style: italic;
}