/* ---------------------- Variables -------------------- */
:root {
    /* Colors */
    --Lbg: #333333;
    --Lheadbg: white;
    --Lhead: #333333;
    --Ltxt: white;

    --Rbg: white;
    --Rheadbg: #333333;
    --Rhead: white;
    --Rtxt: black;

    --temp: #333333;
    --bord: #333333;

    /* Font Style */
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;

    --font-name1: 0.6cm;
    --font-name2: 0.7cm;
    --font-label: 0.5cm;
    --font-contact: 0.35cm;

    --font-head: 0.45cm;
    --font-list: 0.425cm;
    --font-title: 0.4cm;
    --font-org: 0.375cm;
    --font-date: 0.375cm;
    --font-high: 0.35cm;

    --font-space: 0.45cm;
    --font-mark: 0.4cm;

    --font-pub: 0.325cm;

    --font-let: 0.4cm;

    /* Picture Spacing */
	--picW: 72%;
    --picR: 5%;
}

/* ---------------------- Layout -------------------- */
/* Body */
body {
    background: white;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}
/* Page */
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0cm;
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
@page {
    size: 21cm 29.7cm;
    padding: 0;
    margin: 0mm;
    border: none;
    border-collapse: collapse;
}
/* Panel */
.leftside {
    width: 36%;
    padding: 0.4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Lbg);
    border-right: 0.1cm solid var(--bord);
    border-left: 0.1cm solid var(--bord);
}
.rightside {
    width: 64%;
    padding: 0.4cm;
    background-color: var(--Rbg);
    border-right: 0.1cm solid var(--bord);
}

/* Header */
.header {
    width: 100%;
    height: 5.1cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.1cm solid var(--bord);
}

/* CV */
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 24.4cm;
    border-bottom: 0.1cm solid var(--bord);
}

/* Picture */
.profilePic {
	width: var(--picW);
    margin-left: auto;
    margin-right: auto;
	object-fit: fill;
	border-radius: var(--picR);
}

/* Bio */
.bio{
    height: 5.1cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.basics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first{
    font-weight: normal;
    letter-spacing: 0.15cm;
    text-transform: uppercase;
    color: var(--Rtxt);
    font-size: var(--font-name1);
    margin-top: -0.5cm;
    margin-bottom: 0.25cm;
}
.last {
    font-weight: bold;
    letter-spacing: 0.25cm;
    text-transform: uppercase;
    color: var(--Rtxt);
    font-size: var(--font-name2);
    margin-top: 0cm;
    margin-bottom: 0.3cm;
}
.label {
    font-weight: normal;
    letter-spacing: 0.05cm;
    font-size: var(--font-label);
    margin-top: 0cm;
    margin-bottom: 0.3cm;
    color: var(--temp);
}
.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 0.175cm;
    padding: 0cm;
}
.contact .item {
    color: var(--Rtxt);
    font-size: var(--font-contact);
}
.contact i{
    color: var(--temp);
}

/* Headings */
.head {
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    font-size: var(--font-head);
    padding-top: 0.025cm;
    padding-bottom: 0.025cm;
    padding-left: 0.1cm;
    margin-top: 0.1cm;
    margin-bottom: 0.3cm;
}
.title {
    font-weight: 400;
    letter-spacing: 0.02cm;
    font-size: var(--font-title);
    margin-bottom: 0.05cm;
}
.org {
    font-size: var(--font-org);
    margin-bottom: 0.05cm;
}
.date {
    font-size: var(--font-date);
}
.highlights {
    font-size: var(--font-high);
    text-align: justify;
    hyphens: auto;
}
a {
    text-decoration: none;
}

/* Education */
.Edu {
    width: 100%;
    align-self: center;
    margin-bottom: 0.3cm;
}
.Edu .item{
    margin-bottom: 0.2cm;
}

/* Work */
.Wor {
    width: 100%;
    align-self: center;
    margin-bottom: 0.3cm;
}
.Wor .item{
    margin-bottom: 0.2cm;
}
.Wor .lvl-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.Wor .highlights>ul {
    list-style-type: disc;
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-left: 0.75cm;
}
.Wor .highlights>ul>li {
    padding-left: 0cm;
    line-height: var(--font-space);
}
.Wor.highlights>ul>li::marker {
    color: var(--Rtxt);
    font-size: var(--font-mark);
}

/* Expertise */
.Exp {
    width: 100%;
    align-self: center;
    margin-bottom: 0.3cm;
}
.Exp .item{
    margin-bottom: 0.2cm;
    color: var(--Ltxt);
    font-size: var(--font-list);
}

/* Skills */
.Ski {
    width: 100%;
    align-self: center;
    margin-bottom: 0.3cm;
}
.Ski .item{
    margin-bottom: 0.2cm;
    color: var(--Ltxt);
    font-size: var(--font-list);
}
.Ski ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0cm;
}
.Ski ul li {
    padding: 0.05cm;
    background-color: var(--Lheadbg);
    color: var(--Lhead);
}
.Ski ul>li::marker {
    font-size: 0;
}

/* Languages */
.Lan {
    width: 100%;
    align-self: center;
    margin-bottom: 0.3cm;
}
.Lan .item{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2cm;
    color: var(--Ltxt);
    font-size: var(--font-list);
}
.Lan .language{
    padding-right: 0.2cm;
}

/* Publication */
.Pub {
    width: 100%;
    align-self: center;
}
.Pub .item{
    margin-top: 0.35cm;
    color: var(--Rtxt);
    font-size: var(--font-pub);
    text-align: justify;
    hyphens: auto;
}

/* Socials */
.Social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}

/* ---------------------- Letter --------------------- */
/* Company */
.company {
    height: 3.675cm;
    width:  80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	margin-left:0.6cm;
	margin-top:0.4cm;
	letter-spacing: 0.05cm;
    color: var(--Ltxt);
}

/* CL */
.letter {
    width: 100%;
    height: 24.4cm;
    display: flex;
    flex-direction: column;
    border-right: 0.1cm solid var(--bord);
    border-left: 0.1cm solid var(--bord);
    border-top: 0.1cm solid var(--bord);
}

/* Letter */
.letter  .subject{
    padding-left: 1cm;
    margin-top: 0.75cm;
    letter-spacing: 0.05cm;
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--Rtxt);
}

.let-cont {
    margin-top: 0.5cm;
    margin-right: 1cm;
    margin-left: 1cm;
    text-align: justify;
    hyphens: auto;
}

.let-cont p{
    margin-top: 0.225cm;
    margin-bottom: 0.225cm;
    font-size: var(--font-let);
    line-height: var(--font-space);
    color: var(--Rtxt);
}
.let-cont b {
    color: var(--Rtxt);
	font-weight: var(--font-weight);
}
.let-cont i {
    color: var(--Rtxt);
	font-weight: var(--font-weight);
}
.close {
    margin-top: 0.3cm;
    margin-left: 1cm;
    margin-right: 2cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close .NameCityDate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    font-size: var(--font-head);
}

.SignPic {
    width: 6cm;
}

/* ---------------------- Colors --------------------- */
/* Left */
.leftside .head {
    background-color: var(--Lheadbg);
    color: var(--Lhead);
}
.leftside .lvl-0 {
    color: var(--Ltxt);
}
.leftside .title {
    color: var(--Ltxt);
}
.leftside .org {
    color: var(--Ltxt);
}
.leftside .date {
    color: var(--Ltxt);
}
.leftside .highlights {
    color: var(--Ltxt);
}
.leftside a{
    color: var(--Ltxt);
}
/* Right */
.rightside .head {
    background-color: var(--Rheadbg);
    color: var(--Rhead);
}
.rightside .lvl-0 {
    color: var(--Rtxt);
}
.rightside .title {
    color: var(--Rtxt);
}
.rightside .org {
    color: var(--temp);
}
.rightside .date {
    color: var(--Rtxt);
}
.rightside .highlights {
    color: var(--Rtxt);
}
.rightside a{
    color: var(--Rtxt);
    font-style: italic;
}



