/* ---------------------- Variables -------------------- */
:root {
    /* Colors */

    --col1: #333333;
    --col2: #e5e5e5;
    --shade1: #333333;
    --shade2: #ffffff;

    /* Font Style */
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;

    --font-name1: 0.85cm;
    --font-name2: 1cm;

    --font-label: 0.5cm;

    --font-contact: 0.35cm;

    --font-prof: 0.375cm;

    --font-headings: 0.45cm;
    --font-title: 0.4cm;
    --font-date: 0.4cm;
    --font-instit: 0.35cm;

    --font-high: 0.33cm;
    --font-pub: 0.33cm;

    --font-space: 0.45cm;
    --font-mark: 0.4cm;

    --font-exps: 0.4cm;

    --font-skill-lvl: 0.45cm;
    --font-skill: 0.4cm;

    --font-lang: 0.425cm;

    /* Picture Spacing */
    --picH: 5.75cm;
    --picP: 0% 15%;
}

/* Layout */
body {
    background: rgb(225, 225, 225);
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

/* Printing */
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0cm;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@page {
    size: 21cm 29.7cm;
    padding: 0;
    margin: 0mm;
    border: none;
    border-collapse: collapse;
}

/* End Printing */

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.leftPanel {
    width: 31%;
    background-color: var(--col1);
    padding: 0.4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightPanel {
    width: 69%;
    padding: 0.4cm;
    border: 0.1cm solid var(--col1);
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ---------------------- Design --------------------- */
/* Headings */
h3 {
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    padding: 0.05cm;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
    font-size: var(--font-headings);
}

.leftPanel h3 {
    color: var(--shade2);
    /* background-color: var(--shade2);
    color: var(--col1); */
}

.rightPanel h3 {
    background-color: var(--col1);
    color: var(--shade2);
}

/* Spacing */
.lineSep {
    padding-bottom: 0.05cm;
    background-color: var(--shade2);
    margin-bottom: 0.4cm;
}

/* Links */
a {
    text-decoration: none;
}

.leftPanel a{
    color: var(--shade2);
}


.rightPanel a{
    color: var(--shade1);
}
/* --------------------------------- Left-Panel --------------------------------- */
/* Picture */
.profilePic {
    width: 100%;
    height: var(--picH);
    object-position: var(--picP);
    margin-top: 0.0cm;
    object-fit: cover;
}

/* Education */
.edu {
    width: 100%;
    align-self: center;
}

.edu .item {
    display: flex;
    flex-direction: column;
    margin-top: 0.05cm;
    margin-bottom: 0.25cm;
}

.edu .title {
    text-transform: capitalize;
    background-color: var(--shade2);
    color: var(--shade1);
    padding: 0.025cm;
    margin-bottom: 0.1cm;
    font-size: var(--font-title);
}

.edu .date {
    color: var(--col2);
    padding: 0.025cm;
    font-size: var(--font-date);
}

.edu .disc {
    color: var(--shade2);
    padding: 0.025cm;
    font-size: var(--font-instit);
}

/* Expertise */
.expert {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.exp-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: var(--font-exps);
}

.exp-item {
    color: var(--col2);
    padding: 0.1cm;
}

/* Skills */
.skill-lvl {
    background-color: var(--shade2);
    color: var(--shade1);
    padding: 0cm;
    margin-bottom: 0.05cm;
    font-size: var(--font-skill-lvl);
}

.skill-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.1cm;
    font-size: var(--font-skill);
}

.skill-item {
    color: var(--col2);
    padding: 0cm;
}

/* Languages */
.lang-line {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: var(--col2);
    font-size: var(--font-lang);
}

.lang-item {
    padding: 0.1cm;
}

/* Socials */
.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}

/* --------------------------------- Right-Panel -------------------------------- */
/* Name */
.first{
    font-weight: normal;
    letter-spacing: 0.25cm;
    text-transform: uppercase;
    color: var(--shade1);
    font-size: var(--font-name1);
    margin-top: 0.5cm;
    margin-bottom: 0cm;
}

.last {
    font-weight: bold;
    letter-spacing: 0.5cm;
    text-transform: uppercase;
    color: var(--col1);
    font-size: var(--font-name2);
    margin-top: 0.25cm;
    margin-bottom: 0cm;
}

/* Label */
.label {
    font-weight: normal;
    letter-spacing: 0.1cm;
    color: var(--shade1);
    font-size: var(--font-label);
    margin-top: 0.25cm;
    margin-bottom: 0cm;
}

/* Contacts */
.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0cm;
    margin-top: 0.7cm;
    margin-bottom: 0.725cm;
}

.con-item {
    color: var(--col1);
    font-size: var(--font-contact);
}

/* Profile */
.profile {
    width: 100%;
    text-align: justify;
    color: var(--col1);
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
    font-size: var(--font-prof);
}

/* Work */
.work {
    width: 100%;
    align-self: center;
}

.work .item {
    display: flex;
    flex-direction: column;
    margin-top: 0.2cm;
    margin-bottom: 0.3cm;
}

.work .item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.work .title {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--col1);
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    font-size: var(--font-title);
}

.work .date {
    color: var(--col1);
    font-weight: bold;
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    font-size: var(--font-date);
}

.work .disc {
    color: var(--shade1);
    font-weight: bold;
    padding: 0cm;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    font-size: var(--font-instit);
}

.work .high {
    color: var(--col1);
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    font-size: var(--font-high);
}

.work .high>ul {
    list-style-type: disc;
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-left: 0.5cm;
}

.work .high>ul>li {
    padding-left: 0cm;
    line-height: var(--font-space);
}

.work .high>ul>li::marker {
    color: var(--col1);
    font-size: var(--font-mark);
}

/* Publications */
.pub {
    width: 100%;
    align-self: center;
    color: var(--shade1);
    font-size: var(--font-pub);
}

.pub .item {
    display: inline-block;
    flex-direction: column;
    margin-top: 0.1cm;
    margin-bottom: 0.2cm;
}

.pub .aut {
    font-weight: bold;
}

.pub .jour{
    font-style: italic;
}

.pub .date {
    font-weight: bold;
}

.pub .doi {
    font-weight: bold;
    font-style: italic;
}

