/* ---------------------- Variables -------------------- */
:root {
    /* Colors */
    --Lbg: #333333;
    --Lheadbg: white;
    --Lhead: #333333;
    --Ltxt: white;

    --Rbg: white;
    --Rheadbg: #333333;
    --Rhead: white;
    --Rtxt: black;

    --temp: #333333;
    --bord: #333333;

    /* Font Style */
    --font-family: "Roboto", sans-serif;
    --font-weight: 400;

    --font-name1: 0.65cm;
    --font-name2: 0.75cm;
    --font-label: 0.5cm;
    --font-contact: 0.35cm;

    --font-head: 0.45cm;
    --font-title: 0.4cm;
    --font-disc: 0.4cm;
    --font-date: 0.325cm;
    --font-high: 0.325cm;

    --font-space: 0.45cm;
    --font-mark: 0.4cm;

    --font-pub: 0.325cm;

    --font-let: 0.325;

    /* Picture Spacing */
	--picW: 72%;
    --picR: 5%;
}

/* ---------------------- Design --------------------- */
h3 {
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    font-size: var(--font-head);
    padding-top: 0.025cm;
    padding-bottom: 0.025cm;
    padding-left: 0.1cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
}
.title {
    font-weight: 500;
    letter-spacing: 0.01cm;
    font-size: var(--font-title);
    margin-bottom: 0.02cm;
}
.disc {
    font-size: var(--font-disc);
    margin-bottom: 0.02cm;
}
.date {
    font-size: var(--font-date);
}
.high {
    color: var(--col2);
    font-size: var(--font-high);
    text-align: justify;
    hyphens: auto;
}
a {
    text-decoration: none;
}

/* ---------------------- Style --------------------- */
/* Left */
.leftPanel h3 {
    background-color: var(--Lheadbg);
    color: var(--Lhead);
}
.leftPanel .title {
    color: var(--Ltxt);
}
.leftPanel .disc {
    color: var(--Ltxt);
}
.leftPanel .date {
    color: var(--Ltxt);
}
.leftPanel .high {
    color: var(--Ltxt);
}
.leftPanel a{
    color: var(--Ltxt);
}

/* Right */
.rightPanel h3 {
    background-color: var(--Rheadbg);
    color: var(--Rhead);
}
.rightPanel .title {
    color: var(--Rtxt);
}
.rightPanel .disc {
    color: var(--temp);
}
.rightPanel .date {
    color: var(--Rtxt);
}
.rightPanel .high {
    color: var(--Rtxt);
}
.rightPanel a{
    color: var(--Rtxt);
    font-style: italic;
}

/* General */
.exp .title{
    margin-bottom: 0.25cm;
}
.skill .disc{
    background-color: var(--Lheadbg);
    color: var(--Lhead);
    padding: 0.05cm;
}
.lang .title{
    margin-bottom: 0.25cm;
}
/* --------------------------------- Sections --------------------------------- */

/* Picture */
.profilePic {
	width: var(--picW);
    margin-left: auto;
    margin-right: auto;
	object-fit: fill;
	border-radius: var(--picR);
}

/* Personal */
.first{
    font-weight: normal;
    letter-spacing: 0.15cm;
    text-transform: uppercase;
    color: var(--Rtxt);
    font-size: var(--font-name1);
    margin-top: 0.2cm;
    margin-bottom: 0cm;
}
.last {
    font-weight: bold;
    letter-spacing: 0.25cm;
    text-transform: uppercase;
    color: var(--Rtxt);
    font-size: var(--font-name2);
    margin-top: 0.25cm;
    margin-bottom: 0cm;
}
.label {
    font-weight: normal;
    letter-spacing: 0.05cm;
    font-size: var(--font-label);
    margin-top: 0.5cm;
    margin-bottom: 0cm;
    color: var(--temp);
}
.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0cm;
    margin-top: 0.5cm;
}
.contact .item {
    color: var(--Rtxt);
    font-size: var(--font-contact);
}

.contact i{
    color: var(--temp);
}

/* Education */
.edu {
    width: 100%;
    align-self: center;
    margin-bottom: 0.45cm;
}
.edu .item {
    display: flex;
    flex-direction: column;
    margin-top: 0.3cm;
    padding-left: 0.1cm;
}
/* Work */
.work {
    width: 100%;
    align-self: center;
    margin-bottom: 0.45cm;
}
.work .item {
    display: flex;
    flex-direction: column;
    margin-top: 0.3cm;
    padding-left: 0.1cm;
}
.work .item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.work .high>ul {
    list-style-type: disc;
    padding: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    padding-left: 0.5cm;
}
.work .high>ul>li {
    padding-left: 0cm;
    line-height: var(--font-space);
}
.work .high>ul>li::marker {
    color: var(--Rtxt);
    font-size: var(--font-mark);
}
/* Expertise */
.exp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0.45cm;
}
.exp .item{
    justify-content: left;
    margin-top: 0.3cm;
    padding-left: 0.1cm;
}
/* Skills */
.skill {    
    margin-bottom: 0.45cm;
}
.skill .item {
    margin-top: 0.3cm;
    padding-left: 0.1cm;
}
.skill-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25cm;
}
/* Languages */
.lang {
    margin-bottom: 0.45cm;
}
.lang .item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: var(--font-lang);
    margin-top: 0.3cm;
    padding-left: 0.1cm;
}
/* Socials */
.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}

/* Publications */
.pub {
    width: 100%;
    align-self: center;
}
.pub .item {
    font-size: var(--font-pub);
    color: var(--Rtxt);
    display: inline-block;
    flex-direction: column;
    text-align: justify;
    hyphens: auto;
    margin-top: 0.3cm;
    padding-left: 0.1cm;
}

/* ---------------------- Layout -------------------- */
/* Body */
body {
    background: white;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}
/* Page */
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0cm;
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
@page {
    size: 21cm 29.7cm;
    padding: 0;
    margin: 0mm;
    border: none;
    border-collapse: collapse;
}

/* ---------------------- Pannels-------------------- */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.head {
    width: 100%;
    height: 5.1cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-top: 0.1cm solid var(--bord);
}
.content {
    display: flex;
    flex-direction: row;
    width: 21cm;
    height: 24.6cm;
}
.leftPanel {
    width: 36%;
    padding: 0.4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Lbg);
    border-right: 0.1cm solid var(--bord);
    border-left: 0.1cm solid var(--bord);
}
.rightPanel {
    width: 64%;
    padding: 0.4cm;
    background-color: var(--Rbg);
    border-right: 0.1cm solid var(--bord);
}
.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ---------------------- CV -------------------- */
.cv-con {
    width: 100%;
    height: 24.525cm;
    display: flex;
    flex-direction: row;
    border-bottom: 0.1cm solid var(--bord);
}

/* ---------------------- Letter -------------------- */
.let-con {
    width: 100%;
    height: 24.45cm;
    display: flex;
    flex-direction: column;
    border: 0.1cm solid var(--bord);
}

.letter {
    margin-top: 0.75cm;
    margin-right: 1cm;
    margin-left: 1cm;
    text-align: justify;
    hyphens: auto;
    font-size: var(--font-let);
    line-height: var(--font-space);
    color: var(--Rtxt);
}

.company {
    height: 3.9cm;
    width:  80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.2cm;
    margin-left: 0.6cm;
}
.company .title {
    letter-spacing: 0.05cm;
    color: var(--Ltxt);
}

.subject{
    margin-bottom: 0.5cm;
    letter-spacing: 0.05cm;
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--Rtxt);
}
.letter p{
    margin-top: 0.225cm;
    margin-bottom: 0.225cm;
}
.letter b {
    color: var(--Rtxt);
	font-weight: var(--font-weight);
}
.letter i {
    color: var(--Rtxt);
	font-weight: var(--font-weight);
}
.close {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.end {
    margin-top: 0.5cm;
    letter-spacing: 0.05cm;
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--Rtxt);
}
.sign {
    width: 6cm;
}